<h1> Me adota - Cadastro de animais para adoção online </h1>

<div>
    <%= link_to 'Minhas adoções', adoptions_path %>
</div>

<div>
  <%= link_to 'Meus animais cadastrados', animals_path %>
</div>

<div>
  <%= link_to 'Realizar cadastro de animal', new_animal_path %>
</div>

<div>
  <%= link_to 'Cadastrar animal para adoção', new_adoption_path %>
</div>

