<h1> Adoção de animais online </h1>

<% if @adoptions.any? %>

    <% @adoptions.each do |a| %>

        <div>
            <p><%= a.title %> </p>
            <p>Nome: <%= a.animal.name %> </p>
            <p><%= button_to 'Ver adoção', adoption_path(a.id), {method: :get}%>
        </div>

    <% end %>
<% else %>
    <h2>Não há adoções disponíveis!</h2>
<% end %>