<h1> Adoção de animais online </h1>

<% if @adoptions.any? %>

    <% @adoptions.each do |a| %>

        <div>
            <p><%= link_to a.title, adoption_path(a.id) %> </p>
            <p>Nome:  <%= a.animal.name %> </p>
        </div>

    <% end %>
<% else %>
    <h2>Não há adoções disponíveis!</h2>
<% end %>