<h1> Adoção de animais online </h1>

<%= link_to 'Cadastrar animal para adoção', new_animal_path %>

<% if @animals.any? %>

    <% @animals.each do |a| %>

        <div>
            <p>Nome: <%= link_to a.name, animal_path(a.id) %> </p>
            <p>Cuidador: <%= a.pet_care %> </p>
        </div>

    <% end %>
<% else %>
    <h2>Não há adoções disponíveis!</h2>
<% end %>