<div class="container">
  <div class="container d-flex justify-content-center text-center">
    <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to 'Minhas adoções', adoptions_path, class: "btn btn-menu btn-lg mt-4"  %>
      <%= link_to 'Cadastrar animal para adoção', new_adoption_path, class: "btn btn-menu btn-lg mt-3"  %>
      <%= link_to 'Meus animais cadastrados', animals_path, class: "btn btn-menu btn-lg mt-3"  %>
      <%= link_to 'Realizar cadastro de animal', new_animal_path, class: "btn btn-menu btn-lg mt-3"  %>
    </div>
  </div>
</div>

