<h1> Animais cadastrados </h1>

<% if @animals.any? %>

    <% @animals.each do |a| %>

        <div>
            <p>Nome: <%= link_to a.name, animal_path(a.id) %> </p>
            <p>Cuidador: <%= a.user_pet_care.name %> </p>
        </div>

    <% end %>
<% else %>
    <h2>Não há adoções disponíveis!</h2>
<% end %>